<main id="classifier">

    <h2>"Demo" Classifier</h2>

    <div id="top">

        <form action="#" id="keyframes-filter">
            <input type="text" placeholder="Search video content..."/>
        </form>

        <div class="action-buttons">
            <button class="red">Delete Classifier</button>
            <button>Add Class</button>
        </div>

    </div>

    <div id="classes">

        <div class="class">
            
            <div class="details">
                <h3>Winston Churchill</h3>
                <span>(18 images)</span>
            </div>

            <ul class="images">
                <li>
                    <img src="/resources/images/image.png" />
                </li>

                <li>
                    <img src="/resources/images/image.png" />
                </li>

                <li>
                    <img src="/resources/images/image.png" />
                </li>

                <li>
                    <img src="/resources/images/image.png" />
                </li>

                <li>
                    <img src="/resources/images/image.png" />
                </li>
                
            </ul>

        </div>

    </div>

</main>