<main id="classifiers">

    <h2>Custom Classifiers</h2>

    <form action="#" id="classifier-filter">
        <input type="text" placeholder="Filter classifiers"/>
    </form>

    <ol class="gridList">

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

        <li class="selectableObject">
            <img src="/resources/images/classifier_icon.png" alt="File icon"/>
            <div>
                <h3>Classifier Name</h3>
                <span>22 Classes</span>
                <span>138 Images</span>
                <span>Last updated 2018-03-17</span>
            </div>
        </li>

    </ol>

</main>