<main id="home">

    <div id="quickSearch" class="leftHalf">
        <h2>Quick Search</h2>

        <form action="/search" method="POST">
            <input type="text" placeholder="Search archive..."/>
        </form>
        
        <div id="results">

            <div id="files" class="searchArea">
                <h2>Files</h2>
                <ol class="gridList">
                    
                    <li class="selectableObject">
                        <a href="/media/banana">
                            <img src="/resources/images/file_icon.png" alt="File icon"/>
                            <div>
                                <h3>File name</h3>
                                <span>40 Keyframes</span>
                                <span>82 Classes</span>
                                <span>3 minutes (transcribed)</span>
                            </div>
                        </a>
                    </li>

                </ol>
            </div>

            <div id="keyframes" class="searchArea">
                <h2>Keyframes</h2>
                
                <ol>
                    <h3>The Death of Stalin</h3>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                </ol>

                <ol>
                    <h3>Not The Death of Stalin</h3>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                    <li class="keyframe">
                        <img src="/resources/images/keyframe_holder.png" alt="keyframe"/>
                    </li>
                </ol>
            </div>

            <div id="transcriptions" class="searchArea transcriptarea">
                <h2>Transcriptions</h2>
                <ol>
                    <h3>Doctor Who Trailer</h3>
                    <li>
                        <h4>00:00:00 -> 00:00:09</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra molestie 
                        pellentesque. Pellentesque at tincidunt libero, sed dapibus nunc. </p>
                    </li>
                    <li>
                        <h4>00:00:09 -> 00:00:17</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra molestie 
                        pellentesque. Pellentesque at tincidunt libero, sed dapibus nunc. </p>
                    </li>

                    <h3>The Search at San Jose</h3>
                    <li>
                        <h4>00:00:00 -> 00:00:09</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra molestie 
                        pellentesque. Pellentesque at tincidunt libero, sed dapibus nunc. </p>
                    </li>
                    <li>
                        <h4>00:00:09 -> 00:00:17</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra molestie 
                        pellentesque. Pellentesque at tincidunt libero, sed dapibus nunc. </p>
                    </li>
                </ol>
            </div>

        </div>


        </div>

    </div>

    <div id="stats" class="rightHalf">

        <ul>
            
            <li>
                <h1>1000</h1>
                <p>media files in archive</p>
            </li>

            <li>
                <h1>300</h1>
                <p>media files analysed and transcribed</p>
            </li>

            <li>
                <h1>15,182</h1>
                <p>keyframes extracted and classified</p>
            </li>

            <li>
                <h1>489</h1>
                <p>hours of audio transcribed</p>
            </li>

            <li>
                <h1>19,176</h1>
                <p>words transcribed</p>
            </li>

            <li>
                <h1>336.82</h1>
                <p>megabytes of metadata generated</p>
            </li>

        </ul>

    </div>

</main>