<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/resources/stylesheets/style.css' />
        <!-- <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet"> -->
    </head>
    <body>

        <nav>
            <div>
                <img src="/resources/images/icon.png" alt="IBM Logo"/>
                <a>Sean's Friendly Media Analyser</a>
            </div>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/classifiers">Classifiers</a></li>
            </ul>
        </nav>

        {{{body}}}

    </body>
</html>
