<main id="media">
    <div class="leftHalf">
        <h2>video.mp4</h2>
        <video src="/resources/videos/video.mp4" controls></video>

        <div id="frameContains">
            <h2>This frame contains...</h2>

            <ul>
                <li><a>Military uniform</a></li>
                <li><a>Soldier</a></li>
                <li><a>Door</a></li>
                <li><a>Person</a></li>
                <li><a>Officer</a></li>
                <li><a>Hallway</a></li>
                <li><a>Hats</a></li>
                <li><a>Uniform</a></li>
                <li><a>Military uniform</a></li>
                <li><a>Soldier</a></li>
                <li><a>Door</a></li>
                <li><a>Person</a></li>
                <li><a>Officer</a></li>
                <li><a>Hallway</a></li>
                <li><a>Hats</a></li>
                <li><a>Uniform</a></li>
                <li><a>Military uniform</a></li>
                <li><a>Soldier</a></li>
                <li><a>Door</a></li>
                <li><a>Person</a></li>
                <li><a>Officer</a></li>
                <li><a>Hallway</a></li>
                <li><a>Hats</a></li>
                <li><a>Uniform</a></li>
                <li><a>Military uniform</a></li>
                <li><a>Soldier</a></li>
                <li><a>Door</a></li>
                <li><a>Person</a></li>
                <li><a>Officer</a></li>
                <li><a>Hallway</a></li>
                <li><a>Hats</a></li>
                <li><a>Uniform</a></li>
            </ul>

        </div>

        <div id="transcriptions" class="transcriptarea">
            <h2>Transcriptions</h2>
            <ol>
                <li>
                    <h4>00:00:00 -> 00:00:09</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra molestie 
                    pellentesque. Pellentesque at tincidunt libero, sed dapibus nunc. </p>
                </li>
            </ol>
        </div>

    </div>

    <div class="rightHalf">
    
    </div>

</main>